.hero__button {
    max-width: 216px;
    width: 100%;
    height: 68px;
    color: var(--clr-button-700);
    background: var(--clr-primary-btn);
    text-transform: uppercase;
    font-size: 0.875rem ;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.035em;

}